
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="	background-position: top left;	background-size: 100%;	background-repeat: repeat;	background-image: linear-gradient(to bottom, rgba(86, 59, 28, 1), rgba(86, 59, 28, 1));">
  <div class="container"> <a class="navbar-brand text-primary" href="#">
    <i class="fa d-inline fa-lg fa-circle-o"></i>
    <b class="text-info"> BRAND</b>
  </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar5" aria-expanded="true">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="navbar-collapse collapse show" id="navbar5" style="">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item bg-info" style="	background-image: linear-gradient(to bottom, rgba(86, 59, 28, 1), rgba(0, 0, 0, 0.8));	background-position: top left;	background-size: 100%;	background-repeat: repeat;"> <a class="nav-link" href="#">Features</a> </li>
        <li class="nav-item bg-info" style="	background-image: linear-gradient(to bottom, rgba(86, 59, 28, 1), rgba(0, 0, 0, 0.8));	background-position: top left;	background-size: 100%;	background-repeat: repeat;"> <a class="nav-link" href="#">Pricing</a> </li>
        <li class="nav-item bg-info" style="	background-image: linear-gradient(to bottom, rgba(86, 59, 28, 1), rgba(0, 0, 0, 0.8));	background-position: top left;	background-size: 100%;	background-repeat: repeat;"> <a class="nav-link" href="#">Product</a> </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item bg-info" style="	background-image: linear-gradient(to bottom, rgba(86, 59, 28, 1), rgba(0, 0, 0, 0.8));	background-position: top left;	background-size: 100%;	background-repeat: repeat;"> <a class="nav-link" href="#">Services</a> </li>
        <li class="nav-item bg-info" style="	background-image: linear-gradient(to bottom, rgba(86, 59, 28, 1), rgba(0, 0, 0, 0.8));	background-position: top left;	background-size: 100%;	background-repeat: repeat;"> <a class="nav-link" href="<%= about_path %>">About</a> </li>
        <li class="nav-item bg-info" style="	background-image: linear-gradient(to bottom, rgba(86, 59, 28, 1), rgba(0,0,0,0.8));	background-position: top left;	background-size: 100%;	background-repeat: repeat;"> <a class="nav-link" href="#">FAQ</a> </li>
      </ul> <a style="" class="btn btn-primary">Contact us</a>
    </div>
  </div>
</nav>
<div class="py-5 text-center opacity h-100" style="	background-image: url(<%=image_url "passage_in_the_tree_by_alanleal22-d9ri7g8.jpg" %>);	background-size: cover;	background-position: top left;	background-repeat: repeat;">
  <div class="container">
    <div class="row">
      <div class="bg-white mx-auto col-md-8 col-10 bg-info shadow p-5" style="">
        <h3 class="display-3 border border-light text-body">Ruby On rails Test </h3>
        <p class="mb-3 lead bg-info text-body">Ceci n'est qu'un test</p>
        <p class="mb-4 text-body">Il s'aggit ici d'un petit trucs pour pouvoir bien faire son travail.</p> <a class="btn btn-outline-primary text-body" href="<%= login_path %>">Login or Sign</a>
      </div>
    </div>
  </div>
</div>
<div class="py-5 bg-primary" style="">
  <div class="container">
    <div class="row">
      <div class="mx-auto col-md-7">
        <p>Bienvenue sur mon premier site je suis tellement content davoir fait une aussi bonne chose en cette semaine si . Je vous le dit tout dde suite ce site me sert juste a mamuser , ce nest rien de bien important mais c'est toujours une joie de pouvoir faire du bon boulot avec ce qui faut et quand il le faut donc a tout le monde je vous dit bonjour et bon voyage sur mon petit blog<br></p>
      </div>
    </div>
  </div>
</div>
<div class="py-5 bg-light" style="background-position: top left;	background-size: 100%;	background-repeat: repeat;">
  <div class="container">
    <div class="row col-md-12 bg-info">
      <div class="col-md-12 text-center text-secondary" style="transition: all 0.25s;">
        <h1 class="text-muted" style="">Les Composantes de Mon Site</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-2 p-4 bg-light shadow" style="	background-image: linear-gradient(to bottom, rgba(7, 1, 5, 0.1), rgba(0, 0, 0, 0.8));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
        <div class="row">
          <div class="col-3 p-0 d-flex align-items-center" > <img class="img-fluid d-block" src="https://static.pingendo.com/img-placeholder-1.svg"> </div>
          <div class="col-9">
            <p class="lead mb-1"> <b>#1</b> </p>
            <p class="mb-0 text-light">A wonderful serenity has taken possession of my entire soul.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-2 p-4 card-body">
        <div class="row">
          <div class="col-3 p-0 d-flex align-items-center"> <img class="img-fluid d-block" src="https://static.pingendo.com/img-placeholder-4.svg"> </div>
          <div class="col-9">
            <p class="lead mb-1"> <b>#2</b> </p>
            <p class="mb-0">I am alone, and feel the charm of existence in this spot.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-2 p-4">
        <div class="row">
          <div class="col-3 p-0 d-flex align-items-center"> <img class="img-fluid d-block" src="https://static.pingendo.com/img-placeholder-2.svg"> </div>
          <div class="col-9">
            <p class="lead mb-1"> <b>#3</b> </p>
            <p class="mb-0">I should be incapable of drawing a single stroke.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-2 p-4">
        <div class="row">
          <div class="col-3 p-0 d-flex align-items-center"> <img class="img-fluid d-block" src="https://static.pingendo.com/img-placeholder-3.svg"> </div>
          <div class="col-9">
            <p class="lead mb-1"> <b>#4</b> </p>
            <p class="mb-0">I throw myself down among the tall grass by the trickling stream.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-2 p-4">
        <div class="row">
          <div class="col-3 p-0 d-flex align-items-center"> <img class="img-fluid d-block" src="https://static.pingendo.com/img-placeholder-1.svg"> </div>
          <div class="col-9">
            <p class="lead mb-1"> <b>#5</b> </p>
            <p class="mb-0">I lie close to the earth, a thousand unknown plants.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center py-5" style="	background-image: linear-gradient(to bottom, rgba(0, 176, 235, 1.2), rgba(0, 176, 235, 1.2));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="mb-3">Me suivre pour plus d'aventure</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12"> <a href="#" class="text-muted">
        <i class="fa fa-fw fa-facebook fa-2x mx-3"></i>
      </a> <a href="#" class="text-muted">
        <i class="fa fa-fw fa-twitter fa-2x mx-3"></i>
      </a> <a href="#" class="text-muted">
        <i class="fa fa-fw fa-2x fa-google-plus mx-3"></i>
      </a> <a href="#" class="text-muted">
        <i class="fa fa-fw fa-instagram fa-2x mx-3"></i>
      </a> </div>
    </div>
  </div>
</div>
<div class="py-3 bg-primary text-dark" style="	background-image: linear-gradient(to bottom, rgba(86, 59, 28, 1), rgba(243, 243, 243,1));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center d-md-flex align-items-center">
        <ul class="nav d-flex justify-content-center">
          <li class="nav-item text-dark bg-info" style="	background-image: linear-gradient(to bottom, rgba(86, 59, 28, 1), rgba(0,0,0,0.8));	background-position: top left;	background-size: 100%;	background-repeat: repeat;"> <a class="nav-link active" href="#">Home</a> </li>
          <li class="nav-item bg-info text-dark" style="	background-image: linear-gradient(to bottom, rgba(86, 59, 28, 1), rgba(0,0,0,0.8));	background-position: top left;	background-size: 100%;	background-repeat: repeat;"> <a class="nav-link" href="#">Features</a> </li>
          <li class="nav-item bg-info" style="	background-image: linear-gradient(to bottom, rgba(86, 59, 28, 1), rgba(0, 0, 0, 0.8));	background-position: top left;	background-size: 100%;	background-repeat: repeat;"> <a class="nav-link" href="#">Pricing</a> </li>
        </ul> <i class="d-block fa fa-stop-circle fa-3x mx-auto text-primary" style="	background-image: linear-gradient(to bottom, rgba(86, 59, 28, 1), rgba(0,0,0,0.8));	background-position: top left;	background-size: 100%;	background-repeat: repeat;"></i>
        <p class="mb-0 py-1 bg-info" style="	background-image: linear-gradient(to bottom, rgba(86, 59, 28, 1), rgba(243, 243, 243, 1));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">©2018 Pingendo All rights reserved</p>
      </div>
    </div>
  </div>
</div>