<nav class="navbar navbar-expand-lg navbar-dark" style="	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
  <div class="container"> <a class="navbar-brand text-primary" href="#">
    <i class="fa d-inline fa-lg fa-circle-o"></i>
    <b> BRAND</b>
  </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar5">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbar5">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"> <a class="nav-link" href="#">Features</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#">Pricing</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#">Product</a> </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"> <a class="nav-link" href="#">Services</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#">About</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#">FAQ</a> </li>
      </ul> <a class="btn btn-outline-primary navbar-btn ml-md-2">Contact us</a>
    </div>
  </div>
</nav>
<div class="py-5 text-center" style="	background-image: url(assets/img/hunters_by_ryky-dbqs5rh.png.jpg);	background-size: cover;	background-position: top left;	background-repeat: repeat;">
  <div class="container">
    <div class="row">
      <div class="bg-white p-5 mx-auto col-md-8 col-10">
        <h3 class="display-3">I feel the charm</h3>
        <p class="mb-3 lead">Of existence in this spot</p>
        <p class="mb-4">Which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p> <a class="btn btn-outline-primary" href="#">Read more</a>
      </div>
    </div>
  </div>
</div>
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center card">
        <h1>A wonderful serenity</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 p-4" style="	linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.8));	background-position: top left, top left;	background-size: 100%, 100%;	background-repeat: repeat, repeat;">
        <div class="row">
          <div class="col-3 p-0 d-flex align-items-center"> <img class="img-fluid d-block" src=""> </div>
          <div class="col-9">
            <p class="lead mb-1"> <b>#1</b> </p>
            <p class="mb-0 text-light">A wonderful serenity has taken possession of my entire soul.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 p-4 card-body">
        <div class="row">
          <div class="col-3 p-0 d-flex align-items-center"> <img class="img-fluid d-block" src=""> </div>
          <div class="col-9">
            <p class="lead mb-1"> <b>#2</b> </p>
            <p class="mb-0">I am alone, and feel the charm of existence in this spot.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 p-4">
        <div class="row">
          <div class="col-3 p-0 d-flex align-items-center"> <img class="img-fluid d-block" src=""> </div>
          <div class="col-9">
            <p class="lead mb-1"> <b>#3</b> </p>
            <p class="mb-0">I should be incapable of drawing a single stroke.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 p-4">
        <div class="row">
          <div class="col-3 p-0 d-flex align-items-center"> <img class="img-fluid d-block" src=""> </div>
          <div class="col-9">
            <p class="lead mb-1"> <b>#4</b> </p>
            <p class="mb-0">I throw myself down among the tall grass by the trickling stream.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 p-4">
        <div class="row">
          <div class="col-3 p-0 d-flex align-items-center"> <img class="img-fluid d-block" src=""> </div>
          <div class="col-9">
            <p class="lead mb-1"> <b>#5</b> </p>
            <p class="mb-0">I lie close to the earth, a thousand unknown plants.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 p-4">
        <div class="row">
          <div class="col-3 p-0 d-flex align-items-center"> <img class="img-fluid d-block" src=""> </div>
          <div class="col-9">
            <p class="lead mb-1"> <b>#6</b> </p>
            <p class="mb-0">When I hear the buzz of the little world among the stalks.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-3 text-light" style="	background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.8));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center d-md-flex align-items-center">
        <ul class="nav d-flex justify-content-center">
          <li class="nav-item"> <a class="nav-link active" href="#">Home</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#">Features</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#">Pricing</a> </li>
        </ul> <i class="d-block fa fa-stop-circle fa-3x mx-auto text-primary"></i>
        <p class="mb-0 py-1">©2018 Pingendo All rights reserved</p>
      </div>
    </div>
  </div>
</div>