<h4>Nouvelle creation approuver et faites </h4>
<p>
  name:<%=@todo.name %>
</p>
<p>
  description:<%=@todo.description %>
</p>
<%=link_to "Edit this todo",edit_todo_path(@todo) %>
<%=link_to "Back" ,todos_path %>